<div ng-cloak>
    <h3>Set list composer!</h3>
    <p>Define the venue constraints and your songs and our solver will propose a set list to you.</p>

    <p>How much time do you have to play?</p> <input ng-model="playingSlot.totalAllocatedSlot"> minutes

    <div ng-repeat="song in songs">
        <hr>
        <p>#{{ $index + 1 }}</p>

        Name: <input ng-model="song.name">
        Duration: <input ng-model="song.durationInMinutes"> minutes
        <br/>

        Audience enjoyment: <input type="range" min="0" max="10" ng-model="song.audienceEnjoyment">
        Technical difficulty: <input type="range" min="0" max="10" ng-model="song.technicalDifficuty">
        Playing fun level: <input type="range" min="0" max="10" ng-model="song.playingFunLevel">

        <a href="" ng-click="vm.remove($index)">Remove</a>
    </div>
    <div>
        <hr>
        <a href="" ng-click="vm.add()">Add</a>
        <a href="" ng-click="vm.submit()">Submit</a>
    </div>

    <div ng-show="job.submitted">
        <h3>Job information</h3>
        <p ng-show="job.running">The solver is running... </p>
        <p ng-show="!job.running">The solver is finished! </p>

        <div ng-show="job.songs.length > 0">
            <p>Best set list<span ng-show="job.running"> for now</span>:</p>

            <ul>
                <div ng-repeat="song in job.songs">
                    <li>{{song}}</li>
                </div>
            </ul>
        </div>
    </div>
</div>
